<template lang='pug'>
    .chat__message(
        v-bind:class="{ 'chat__message--my': $store.state.auth.user.uid == message.author.uid, 'chat__message--unread': message.read == false }"
        v-observe-visibility="{callback: visibilityChanged, once: true}"
    )
        div.chat__message-date {{getTime(message.timestamp.seconds)}}
        div.chat__message-author {{message.author.name}}
        // router-link(to='../user/'+ message).chat__message-author {{message.author.name}}
        div.chat__message-text {{message.text}}
</template>

<script>
import Vue from 'vue'
import VueObserveVisibility from 'vue-observe-visibility'
Vue.use(VueObserveVisibility)

import firebase from 'firebase/app'
require('firebase/auth')
require('firebase/database')
import 'firebase/firestore'

export default {

    data() {
        return {
            
        }
    },

    props: {
        message: Object
    },

    methods: {
        visibilityChanged(isVisible, entry) {
            let myId = this.$store.state.auth.user.uid
            let roomId = null

            if (this.message.fromTo[0] > this.message.fromTo[1]) {
                roomId = this.message.fromTo[0] + this.message.fromTo[1]
            } else {
                roomId = this.message.fromTo[1] + this.message.fromTo[0]
            }

            if (isVisible && this.message.author.uid !== myId) {
                this.message.read = true

                firebase.firestore().collection('conversations').doc(roomId).collection('messages').where('timestamp', '==', this.message.timestamp).get().then(snapshot => {
                    firebase.firestore().collection('conversations').doc(roomId).collection('messages').doc(snapshot.docs[0].ref.id).update({
                        read: true
                    })
                })
            }

            if (isVisible && this.message.author.uid == myId) {
                firebase.firestore().collection('conversations').doc(roomId).collection('messages').where('timestamp', '==', this.message.timestamp).onSnapshot(snapshot => {
                    firebase.firestore().collection('conversations').doc(roomId).collection('messages').doc(snapshot.docs[0].ref.id).get().then(snapshot => {
                        if (snapshot.data().read == true) {
                            this.message.read = true
                        }
                    })
                })
            }
        },

        getTime(timestamp) {
            let hours = new Date((new Date(timestamp * 1000) - new Date().getTimezoneOffset())).getHours()
            let minutes = new Date((new Date(timestamp * 1000) - new Date().getTimezoneOffset())).getMinutes()

            return ''+ hours +':'+ (minutes < 10 ? '0' : '') + minutes + ''
        }
    }
}
</script>

<style>

</style>


