<template lang='pug'>
    div.i-call__wrapper
        div(v-for='(call, key) in $store.state.videocall.videocalls' v-if='call.call == true').i-call
            div.i-call__row
                div(v-bind:style="{ backgroundImage: 'url('+ call.fromImage +')' }").i-call__image
                div.i-call__nickname {{call.fromName}}
                div.i-call__buttons
                    div(v-on:click='applyCall(call)').i-call__buttons-item.i-call__buttons-item--answer Answer
                    div(v-on:click='stopVideoCall(call)').i-call__buttons-item.i-call__buttons-item--disable Disable
</template>

<script>

import firebase from 'firebase/app'

export default {
    data() {
        return {
            
        }
    },

    methods: {
        
        applyCall: function (call) {
            this.$store.dispatch('videocall/applyCall', call)
        },


        stopVideoCall: function(call) {
            this.$store.dispatch('videocall/stopVideoCall', call)
        }
    }
}
</script>


<style lang="scss">
.i-call {
    // width: 200px;
    z-index: 50;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 0 40px rgba(38, 37, 88, 0.1);
    background-color: #ffffff;
    margin-bottom: 20px;

    &:last-child {
        margin-bottom: 0;
    }

    &__wrapper {
        display: flex;
        flex-direction: column;
        position: fixed;
        left: 20px;
        bottom: 20px;
        z-index: 50;
    }

    &__row {
        display: flex;
        align-items: center;
    }

    &__image {
        width: 70px;
        height: 70px;
        background-position: center;
        background-repeat: no-repeat;
        background-color: #cccccc;
        border-radius: 50%;
        flex-shrink: 0;
        margin-right: 15px;
        background-size: cover;
        background-position: center;
    }

    &__nickname {
        color: #2d2e5e;
        text-decoration: none;
        transition: opacity .3s;

        &:hover {
            opacity: 0.8;
        }
    }

    &__buttons {
        margin-left: 15px;

        &-item {
            font-size: 14px;
            cursor: pointer;
            margin-bottom: 10px;

            &:last-child {
                margin-bottom: 0;
            }

            &--answer {
                color: rgb(43, 124, 32);
            }

            &--disable {
                color: rgb(124, 32, 32);
            }

            &:hover {
                text-decoration: underline;
            }
        }
    }
}
</style>

