<template lang='pug'>
	div(v-if='$store.state.view.popup.visible && !$store.state.auth.authentificated').popup
		div(v-on:click='$store.state.view.popup.visible = false').popup__overlay
		div.popup__container
			div.login
				div.login__tabs(v-if="$store.state.view.popup.type == 'signin' || $store.state.view.popup.type == 'registration'")
					div(
						v-on:click="$store.state.view.popup.type = 'signin'"
						v-bind:class="{ 'login__tabs-item--active': $store.state.view.popup.type == 'signin' }"
					).login__tabs-item Sign In
					div(
						v-on:click="$store.state.view.popup.type = 'registration'"
						v-bind:class="{ 'login__tabs-item--active': $store.state.view.popup.type == 'registration' }"
					).login__tabs-item Registration
				
				// Form for sign in
				form(v-if="$store.state.view.popup.type == 'signin'"
					@submit.prevent="signInFunc"
					).login__content
					div.login__line
						label(for='').login__label Email
						input(type='email' required v-model='signIn.email').login__input
					div.login__line
						label(for='').login__label Password
						input(type='password' required v-model='signIn.password').login__input
					div.login__submit
						button.button.button--green(
							v-bind:class="{ 'button--loading': $store.state.view.popup.loading }"
						) Sign In
					div.login__reset
						div(
							v-on:click='$store.dispatch("view/showPopup", "reset")'
							).link.link--blue Reset Password
			
				// Form for registration
				form(
					v-if="$store.state.view.popup.type == 'registration'"
					@submit.prevent="registrationFunc"
					).login__content
					div.login__line
						label(for='registration_username').login__label Username
						input(type='text' required v-model='registration.username').login__input#registration_username
					div.login__line
						label(for='registration_email').login__label Email
						input(type='email' required v-model='registration.email').login__input#registration_email
					div.login__line
						label(for='registration_password').login__label Password
						input(type='password' required v-model='registration.password').login__input#registration_password
					div.login__line
						label(for='').login__label Language(s), which you know
						multiselect(
							v-model="registration.nativeLangs" 
							:options="languages" 
							:multiple="true",
							tag-placeholder="Add language",
							placeholder="Enter a language"
						).login__multiselect
					div.login__line
						label(for='').login__label Language(s), which you learn
						multiselect(
							v-model="registration.learnLangs"
							:options="languages" 
							:multiple="true",
							tag-placeholder="Add language",
							placeholder="Enter a language"
						).login__multiselect
					div.login__submit
						button.button.button--green(
							v-bind:class="{ 'button--loading': $store.state.view.popup.loading }"
						) Sign In
					div.login__reset
						div(v-on:click='$store.dispatch("view/showPopup", "reset")').link.link--blue Reset Password

				// Form to reset password
				form(
					v-if="$store.state.view.popup.type == 'reset'"
					@submit.prevent="resetPasswordFunc"
					).login__content
					div.login__line
						label(for='').login__label Email
						input(type='email' v-model='reset.email' required).login__input
					div.login__submit
						button.button.button--green(
							v-bind:class="{ 'button--loading': $store.state.view.popup.loading }"
						) Reset
					div.login__reset
						div(v-on:click='$store.dispatch("view/showPopup", "registration")').link.link--blue Registration
					div.login__reset
						div(v-on:click='$store.dispatch("view/showPopup", "signin")').link.link--blue Sign In
</template>
<script>

import Vue from 'vue';
import Multiselect from 'vue-multiselect'
import data from 'assets/data/languages.json'
Vue.component('multiselect', Multiselect)

export default {
    components: { 
        Multiselect
    },

    data() {
        return {
			languages: [],
			learnLangs: [],
			nativeLangs: [],

			registration: {
				username: null,
				email: null,
				password: null,
				learnLangs: [],
				nativeLangs: []
			},
			   
			signIn: {
				email: null,
				password: null,
			},

			reset: {
				email: null
			}
        }
    },

    methods: {

		signInFunc: function () {
			this.$store.dispatch('auth/signInWithEmailAndPassword', this.signIn)
		},

		registrationFunc: function () {
			if (this.registration.learnLangs.length == 0 || this.registration.nativeLangs.length == 0) {
				this.$store.dispatch('view/showNotify', 'Please, check language(s)', {root:true})
			} else {
				this.$store.dispatch('auth/registrationFunc', this.registration)
			}
		},

		signOutFunc: function () {
			this.$store.dispatch('auth/signOutFunc')
		},

		resetPasswordFunc: function () {
			this.$store.dispatch('auth/resetPasswordFunc', this.reset)
		}
	},
	
	mounted() {
		for (let language of data) {
			this.languages.push(language.name)
		}
	}
}
</script>

<style lang="scss">

.popup {
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow-y: scroll;
	padding: 0;
	background-color: rgba(0,0,0,0.7);
	z-index: 70;
	
	@media screen and (min-width: 768px) {
		padding: 50px;
	}

	&__overlay {
		position: fixed;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
		cursor: pointer;
	}

	&__container {
		width: 400px;
		background-color: #ffffff;
		z-index: 1;

		@media screen and (min-width: 768px) {
			margin: auto;
		}
	}
}


.login {
	&__tabs {
		display: flex;
		overflow: hidden;
		// border-bottom: 1px solid rgb(221, 221, 221);

		&-item {
			width: 50%;
			padding: 25px 25px 22px 25px;
			text-align: center;
			cursor: pointer;
			border-bottom: 3px solid transparent;
			transition: background-color .3s, border-color .3s;

			&:hover {
				background-color: #eeeeee;
			}

			&--active {
				border-bottom: 3px solid #288bf2;

				&:hover {
					background-color: #ffffff;
				}
			}
		}
	}

	&__content {
		padding: 20px;
	}

	&__line {
		margin-bottom: 15px;
		
		&:last-child {
			margin-bottom: 0;
		}
	}

	&__label {
		display: block;
		font-size: 11px;
		margin-bottom: 2px;
	}

	&__input {
		display: block;
		width: 100%;
		border: none;
		padding: 10px;
		background-color: rgba(216, 216, 227, 0.35);
	}

	&__submit {
		margin-top: 10px;
		text-align: center;
	}

	&__reset {
		text-align: center;
		margin-top: 15px;
	}
}

@import 'vue-multiselect/dist/vue-multiselect.min.css';

.multiselect {

	&__content {
		width: 100%;

		&-wrapper {
			overflow: hidden;
			overflow-y: scroll;
		}
	}

	&__tag {
		background-color: #288bf2;

		&-icon {

			&:after {
				color: #ffffff;
			}
			
			&:hover {
				background-color: #ff6a6a;
			}
		}
	}
}


</style>


