<template lang='pug'>
    div(v-show='$store.state.view.video.talk').video
        div.video__inner
            div.video__size-controls
                // div.video__size-controls-item.video__size-controls-item--smaller
            video(autoplay playsinline).video__incoming#remoteVideo
            video(autoplay playsinline muted).video__me#localVideo
            div(v-for='(call, key) in $store.state.videocall.videocalls').video__controls
                // div.video__controls-item.video__controls-item--settings
                div(v-on:click='stopVideoCall(call)').video__controls-item.video__controls-item--disable
</template>

<script>

export default {

    methods: {
        stopVideoCall:function (call) {
            this.$store.dispatch('videocall/stopVideoCall', call)
        }
    }
}
</script>


<style lang='scss'>

.video {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 60;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.925);

    &__inner {
        position: relative;
        width: 100%;
        max-width: 1000px;
        max-height: 100vh;
        height: 100%;

        @media screen and (min-width: 768px) {
            height: 60vw;
            width: calc(100% - 30px);
        }
    }

    &__incoming {
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        right: 0;
        bottom: 0;
        max-width: 100%;
        width: 100%;
        max-height: 100%;

        @media screen and (min-width: 768px) {
            
        }
    }

    &__me {
        position: fixed;
        right: 0;
        bottom: 0;
        width: 180px;
        height: 100px;

        @media screen and (min-width: 768px) {
            position: absolute;
        }
    }

    &__size-controls {
        position: absolute;
        right: 0;
        top: -35px;
        display: flex;

        &-item {
            width: 25px;
            height: 25px;
            cursor: pointer;
            margin-right: 10px;
            background-repeat: no-repeat;
            background-position: center;

            &:last-child {
                margin-right: 0;
            }

            &--smaller {
                background-image: url(../assets/images/photo-size.svg);
            }
        }
    }

    &__controls {
        position: absolute;
        left: 20px;
        bottom: 0;
        transform: translateX(-50%);
        padding: 15px;
        display: flex;
        align-items: center;

        @media screen and (min-width: 768px) {
            left: 50%;
        }

        &-item {
            width: 25px;
            height: 25px;
            border-radius: 50%;
            overflow: hidden;
            margin-right: 20px;
            background-position: center;
            background-repeat: no-repeat;
            cursor: pointer;

            @media screen and (min-width: 768px) {
                width: 50px;
                height: 50px;
            }

            &:last-child {
                margin-right: 0;
            }

            &--disable {
                background-color: rgb(129, 36, 36);
                background-size: 50%;
                background-image: url(../assets/images/phone-call.svg);
            }

            &--settings {
                background-size: 90%;
                background-image: url(../assets/images/settings.svg);
            }
        }
    }
}

</style>
